<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recuperar Contraseña - Namoca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/diseño.css">
</head>

<body class="body-login">

    <div class="login-card">
        <h2>Recuperar Clave</h2>
        <p class="text-center text-muted mb-4" style="font-size: 0.9rem;">
            Ingresa tu correo registrado para restablecer tu contraseña.
        </p>

        <form th:action="@{/forgot-password}" method="post">
            <label>Correo Electrónico</label>
            <input type="email" name="email" placeholder="ejemplo@correo.com" required>

            <button type="submit" class="mt-3">Verificar Cuenta</button>
        </form>

        <p style="color: #d9534f; text-align: center; margin-top: 15px; font-weight: 600;" th:if="${error}"
            th:text="${error}"></p>

        <div style="margin-top: 20px; text-align: center;">
            <a href="/login" style="text-decoration: none; color: #133930; font-weight: 600;">Volver al Login</a>
        </div>
    </div>
</body>

</html>