<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/diseño.css">
</head>
<body class="body-login">

<div class="login-card">
    <h2>Log In</h2>

    <form action="/login" method="post">
        <label>Correo</label>
        <input type="email" name="email" required>

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>

    <p style="color:red;" th:if="${error}" th:text="${error}"></p>
</div>

</body>
</html>