<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/diseño.css">
</head>

<body class="body-login">

    <div class="login-card">
        <h2>Log In</h2>

        <form action="/login" method="post">
            <input type="hidden" name="redirect" th:value="${redirect}">

            <label>Correo</label>
            <input type="email" name="email" required>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>

        <p style="color:red;" th:if="${error}" th:text="${error}"></p>
        <p style="color:#133930; font-weight: 600; text-align: center;" th:if="${success}" th:text="${success}"></p>
        <p style="color:#133930; font-weight: 600; text-align: center;" th:if="${param.registrado}" th:text="'¡Registro exitoso! Ya puedes iniciar sesión.'"></p>

        <div style="margin-top: 15px; text-align: center;">
            <p>
                <a th:href="@{/forgot-password}">¿Olvidaste tu contraseña?</a>
            </p>
            <p>¿No tienes cuenta?
                <a th:href="@{/registro(redirect=${redirect})}">Regístrate aquí</a>
            </p>
        </div>
    </div>

</body>

</html>